/* styles.css */

* {
    margin: 0 auto;
}

html {
    background-image: url('images/background.jpg');
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    30% { opacity: 1;}
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 2px;
    border-style: none double;
    border-width: 20px;
    border-color: rgb(62, 46, 22);
}

.hidden {
    display: none;
}

.intro-text {
    width: 60%;
    align-self: center;
    text-align: center;
    font-size: 70px;
    font-family: 'Kolker Brush', 'Brush Script MT', cursive;
    color: rgb(47, 27, 14);
    animation-name: fadeInOut;
    animation-duration: 15s; /* speed this up when testing to 8s and slow to 15s for final*/
    animation-fill-mode: forwards;
}

#red-para {
    color: rgb(101, 20, 20);
    font-size: 100px;
}

.game-ui {
    display: flex;
    flex-direction: column;
    align-items: center;

    animation-name: fadeIn;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
} 

#title {
    font-family: 'Kolker Brush';
    font-size: 110px;
    color: rgb(47, 27, 14);
    text-align: center;
}

#sub-title {
    font-family: 'Kolker Brush';
    font-size: 50px;
    margin-top: -4%;
    color: rgb(101, 20, 20);
    text-align: center;
}

.scores {
    display: flex;
    font-size: 30px;
    font-family: 'Grechen Fuemen', cursive;
    padding: 5% 3%;
    flex-wrap: wrap;
    gap: 20px;
}

.scores > .your-score {
    padding-right: 100px;
    padding-left: 100px;
}

.scores > .comp-score {
    padding-left: 100px;
    padding-right: 100px;
}

.btn-images {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.stone, .scroll, .kunai{
    width: 200px;
    height: 180px;
    flex-shrink: 3;
} 

.stone {
    transition-property: width height;
    background-image: url('images/stone.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.stone:hover {
    background-image: url('images/stone-hover.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.scroll {
    transition-property: width height;
    background-image: url('images/scroll.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.scroll:hover {
    background-image: url('images/scroll-hover.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.kunai {
    transition-property: width height;
    background-image: url('images/kunai.png');
    background-size: 70%;
    background-repeat: no-repeat;
}

.kunai:hover {
    background-image: url('images/kunai-hover.png');
    background-size: 70%;
    background-repeat: no-repeat;
}

#output-text {
    font-family: 'Grechen Fuemen';
    font-size: 30px;
    color:  rgb(101, 20, 20);
    padding: 3%;
}

.game-win {
    width: 70%;
    align-self: center;
    text-align: center;
    font-size: 70px;
    font-family: 'Kolker Brush', 'Brush Script MT', cursive;
    color: rgb(47, 27, 14);
    animation-name: fadeIn;
    animation-duration: 8s; /* speed this up when testing to 8s and slow to 15s for final*/
    animation-fill-mode: forwards;
}

.game-lose {
    width: 70%;
    align-self: center;
    text-align: center;
    font-size: 70px;
    font-family: 'Kolker Brush', 'Brush Script MT', cursive;
    color: rgb(47, 27, 14);
    animation-name: fadeIn;
    animation-duration: 8s; /* speed this up when testing to 8s and slow to 15s for final*/
    animation-fill-mode: forwards;
}

.game-tie {
    width: 70%;
    align-self: center;
    text-align: center;
    font-size: 70px;
    font-family: 'Kolker Brush', 'Brush Script MT', cursive;
    color: rgb(47, 27, 14);
    animation-name: fadeIn;
    animation-duration: 8s; /* speed this up when testing to 8s and slow to 15s for final*/
    animation-fill-mode: forwards;
}

.sub-para {
    color:rgb(101, 20, 20);
    font-size: 90px;
}

#play-again-win, #play-again-lose, #play-again-tie {
    color: rgb(62, 46, 22);
    background-color: rgb(241, 235, 226);
    border-color: rgb(62, 46, 22);
    padding: 10px 15px;
    font-family: 'Grechen Fuemen';
    font-size: 25px;
    border-width: 6px;
    border-style: double;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes shine {
    0% { background-image: linear-gradient(to bottom right, rgb(202, 202, 202), rgb(241, 235, 226), rgb(241, 235, 226)); }
    50% { background-image: linear-gradient(to bottom right, rgb(241, 235, 226), rgb(202, 202, 202),rgb(241, 235, 226)); }
    100% { background-image: linear-gradient(to bottom right, rgb(241, 235, 226), rgb(241, 235, 226), rgb(202, 202, 202)); }
}

#play-again-win:hover, #play-again-lose:hover, #play-again-tie:hover {
    animation-name: shine;
    animation-duration: 0.2s;
    animation-fill-mode: none;
    scale: 1.2;
}